@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

#stalls{
    margin: 0;
    color: #fff;
    width: 100%;
    z-index: 100;
    position: relative;
    padding-bottom: 20vh;
    overflow-x: hidden;
    overflow-y: hidden;
}


#stalls ul{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:0;
}

#stalls ul li{ 
    padding: 1.5rem 0;
    list-style: none;
    border-bottom: .1px solid rgba(255, 255, 255, .5);
    width: 100%;    
    display: flex;
    flex-direction: row;
    margin: 0 0 0 5%;
}

#stalls ul li .heading{
    font-size: 1.6rem;
    width: 30%;
    font-family: Montserrat;
    position: relative;
    margin-left: 10%;
    transition: .3s ease-in;
    z-index: 3;
}

#stalls ul li .description{
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    transition: .3s ease-out;
    z-index: 3;
    width: 70%;
    position: absolute;
    left: 30%;
}

#stalls ul img{
    position: fixed;
    opacity: 0;
    transition: .3s ease-in;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}

#stalls ul li:hover{
    margin: 0;
}

#stalls ul li:hover .heading{
    /* color: darkviolet; */
    transition: .3s ease-out;
    margin-left: 5%;
}

#stalls ul li:hover .description{
    opacity: 1;
    transition: .3s ease-out;
    align-items: center;
    margin-left: 2%;
}

#stalls ul li:hover img{
    opacity: .9;
    transition: .3s ease-out;
    /* z-index: 5; */
}

#stalls ul .img1{
    left: 50%;
    top: 130%;
    width: min(16rem, 50%);
    z-index: 500;
}
#stalls ul .img2{
    right: 5%;
    top: 110%;
    width: min(13rem, 50%);
    z-index: 500;
}
#stalls ul .img3{
    right: 5%;
    top: -160%;
    width: min(10rem, 50%);
    z-index: 500;
}
#stalls ul .img4{
    left: 50%;
    top: -160%;
    z-index: 500;
    width: min(14rem, 50%);
}


@media (max-width: 768px) {
    #stalls ul li .heading{
        font-size: 1.1rem;
    }
    #stalls ul li .description{
        font-size: 0.6rem;
        left: 35%;
    }
    #stalls ul .img1{
        left: 0%;
        top: 130%;
        width: min(16rem, 50%);
    }
    #stalls ul .img2{
        right: 5%;
        top: 110%;
        width: min(13rem, 50%);
    }
    #stalls ul .img3{
        right: 5%;
        top: -120%;
        width: min(10rem, 50%);
    }
    #stalls ul .img4{
        left: 0%;
        top: -150%;
        width: min(14rem, 50%);
    }
}

@media (max-width: 550px) {
    #stalls ul .img1{
        /* display: none; */
    }
    #stalls ul .img1{
        left: 0%;
        top: 130%;
        width: min(11rem, 50%);
    }
    #stalls ul .img2{
        right: 5%;
        top: 110%;
        width: min(11rem, 50%);
    }
    #stalls ul .img3{
        right: 5%;
        top: -120%;
        width: min(11rem, 50%);
    }
    #stalls ul .img4{
        left: 0%;
        top: -150%;
        width: min(11rem, 50%);
    }
    
    }
@media (max-width: 550px) {
    #stalls ul .img1{
        /* display: none; */
    }
    #stalls ul .img1{
        left: 0%;
        top: 130%;
        width: min(9rem, 50%);
    }
    #stalls ul .img2{
        right: 5%;
        top: 110%;
        width: min(9rem, 50%);
    }
    #stalls ul .img3{
        right: 5%;
        top: -120%;
        width: min(9rem, 50%);
    }
    #stalls ul .img4{
        left: 0%;
        top: -150%;
        width: min(9rem, 50%);
    }
    
    }