.App{
    margin: 0;
    height: 100vh;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    height: 100vh;
    width: 100%;
    background-image: url("./assets/landing.jpg");
    background-repeat: no-repeat;
    background-position: right;
    animation: background_anime 3s forwards;
}

@keyframes background_anime {
    0%{
        background-position: 30% 75%;
    }
    100%{
        background-image: 0;
    }
}
