.events{
  position: relative;
  color: white;
}

.events ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.events ul li{
  color: white;
  padding: 3vh 10%;
  list-style: none;
}


/*--------------------------------------------------------textc--------------------------*/
.textc{
  display: flex;
  flex-direction: column;
}

.textc .textc_li{
  display: flex;
}

.textc_li span{
  margin-left: 2px;
}

/*----------------------------------------text2--------------------------------------------------*/
.text-animation {
  text-align: center;
  padding: 10px 20px 0 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 0px;
}

.constant-text{
  font-size: 1.3rem;
  color: white;
  width: 44%;
  text-align: right;
}

.animated-text{
  margin-left: 7px;
  animation: fade 3s infinite;
  font-size: 2rem;
  width: 55%;
  text-align: left;
  color: white;
  text-shadow: 1px 1px 100px darkviolet;
  font-weight: bold;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  20%, 80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}


/*---------------------------------------------------------corousel---------------------------------------*/
.main_carousel{
    position: relative;
    height: 70vh;
    padding-top: 38vh;
    /* padding-bottom: 38vh; */
    overflow-x: hidden;
    top: 0vh;
    background-position: cover;
    background-size: 100% 100%;
  }
  
  .main_carousel .slides{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }
  
  .main_carousel .slides img{
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 20px;
  height: 350px;
  border: 3px solid darkviolet;
  border-radius: 20px;
  filter: drop-shadow(5px 10px 5px  rgb(10, 10, 10));
  }
  
  .main_carousel .slides .slide{
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) ;
  transition: transform 400ms ease-in-out;
  
  
  }
  
  .main_carousel .slides .slide.active{
  opacity: 1;
  z-index: 99;
  
  transition: transform 400ms ease-in-out;
  
  }
  
  .main_carousel .slides .slide.next{
  opacity: 1;
  z-index: 98;
  transform: translateX(-25%) scale(0.9);
  transition: transform 400ms ease-in-out;
  /* left: 43%; */
  }
  .main_carousel .slides .slide.next2{
  opacity: 1;
  z-index: 97;
  transform: translateX(-10%) scale(0.8);
  transition: transform 400ms ease-in-out ;
  /* left: 50%; */
  }
  
  .main_carousel .slides .slide.prev{
  opacity: 1;
  z-index: 98;
  /* left: 29%; */
  transform: translateX(-75%) scale(0.9);
  transition: transform 400ms ease-in-out;
  }
  .main_carousel .slides .slide.prev2{
  opacity: 1;
  z-index: 97;
  transform: translateX(-90%) scale(0.8) ;
  transition: transform 400ms ease-in-out;
  /* left: 22%; */
  }
  
  
  .main_carousel .button-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  transition: all 400ms ease-in-out;
  position: relative;
  top: 0%;
  z-index: 100;
  }
  
  .main_carousel .button-container .button{
  cursor: pointer;
  }
  
  .main_carousel .button-container .button img{
    width: 30px;
    background-color: rgba(255, 255, 255,0.5);
    border: 1px rgba(255, 255, 255,0.5) solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0,0.5);
    border-radius: 50%;
  }
  
  .main_carousel .button-container .button .right{
    transform: rotate(180deg);
    right: 5vw;
    position: relative;
  }
  .main_carousel .button-container .button .left{
    right: -5vw;
    position: relative;
  }
  
  .main_carousel .button-container .button img :hover{
    background-color: rgba(255, 255, 255,1);  
  } 
  
  .back-button{
    position: relative;
    top: -115%;
    left: -46%;
  }
  
  /* Add this CSS to your mainlery_base.css file */
  .main_carousel .page-indicators {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -200px;
  }
  
  .main_carousel .page-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa; /* Inactive indicator color */
    margin: 0 5px;
    cursor: pointer;
  }
  
  .main_carousel .page-indicator.active {
    background-color: #147df6; /* Active indicator color */
  }
  
  @media(max-width:748px){
  .main_carousel .slides .slide.next{
    scale: 0;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    
    /* left: 43%; */
  }
  .main_carousel .slides .slide.next2{
    opacity: 0;
    z-index: 97;
    transform: translateX(100%) scale(0);
    transition: transform 0ms ease-in-out ;
    /* left: 50%; */
  }
  
  .main_carousel .slides .slide.prev{
    opacity: 0;
    z-index: 98;
    /* left: 29%; */
    transform: translateX(-400%) scale(1);
    transition: transform 0ms ease-in-out;
  }
  .main_carousel .slides .slide.prev2{
    opacity: 0;
    z-index: 97;
    transform: translateX(100%) scale(0) ;
    transition: transform 0ms ease-in-out;
    /* left: 22%; */
  }
  .main_carousel .slides img{
    width: 146%;
    height: 250px;
  }
  .main_carousel .slides .slide{
    left: 35%;
    
    ;
    transition: transform 500ms ease-in-out; 
  }
  .main_carousel .button-container{
    margin-top: 140px;
    margin-bottom: 20px;
  }
  .main_carousel{
    height: 367px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: cover;
    background-size: 100% 100%;
    padding-top: 21vh;
    top: 0vh;
  }
  .main_carousel .slides{
  overflow-x: hidden;
  }
  .main_carousel .button-container .button .right{
    right: -10vw;
  }
  .main_carousel .button-container .button .left{
    right: 10vw;
  }
  
  }
  
  
  
  